body {
    background-image: url(https://wisnujadmika.files.wordpress.com/2013/02/abstrak-lingkaran-lukisan.jpg);
    margin: 1;
    font-family: 'Open Sans', sans-serif;
    text-emphasis-color: white;
}